/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default - 300
Md - 400

- Line heights:

- Letter spacing


--- 02 COLORS
#C7C7C7 #f9f9f9 #e3e3e3 #d2d2d2


#3D3D3D Text on #fafaff
#c7c7c7 Text on #1C1C1C
#363636 Text on #ECEBE4
#2B2B2B Text On #DADDD8
--- 05 Shadows

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Whitespace System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --color-primary: #e5383b;
  --color-secondary: ;
  --color-tertiary: ;
  --color-primary-darker: #731c1e;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-opacity: ;
  --color-secondary-opacity: ;
  --color-tertiary-opacity: ;
  --gradient-primary: ;
  --gradient-secondary: ;
  --gradient-tertiary: ;
  --scroll-speed: 6s;
  --scroll-gap: 6.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", serif;
  line-height: 1;
  font-weight: 300;
  color: #c7c7c7;
}

/* GENERAL STYLES */
.section {
  padding: 15rem 0;
}

.container {
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
}

.btn--sm {
  font-size: 1.8rem;
  color: #3d3d3d;
  background-color: #daddd8;
  padding: 0.8rem 2rem;
  border-radius: 0.2rem;
}

.btn--lg {
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: #222;

  padding-bottom: 0.8rem;
  border-bottom: 1px solid #1c1c1c;
}

/* HEADINGS */
.subheading {
  color: #3d3d3d;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.header--secondary {
  font-family: "Lora", serif;
  font-size: 5.2rem;
  font-weight: inherit;
  color: #363636;
  line-height: 1.4;
}

/* HEADER SECTION */
.header {
  padding: 0 6.4rem;
  background-color: #fafaff;
}

.header__nav {
  display: flex;

  height: 9.6rem;
  align-items: center;
}

/* NAVIGATION */
.nav__sections {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav__list {
  list-style-type: none;
  gap: 5.2rem;

  display: flex;
  align-items: center;
}

.nav__item {
  color: #3d3d3d;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.nav__name {
  font-family: "Lora", serif;
  font-size: 6.2rem;
  font-weight: inherit;
  letter-spacing: 0.5px;

  color: #1c1c1c;
  font-style: italic;

  justify-self: start;
}

.nav__cta {
  text-transform: none;
  margin-left: auto;
  color: #3d3d3d;
  font-size: 1.8rem;

  background-color: #daddd8;
  padding: 0.8rem 2rem;
}

.nav__btn {
  color: #3d3d3d;
}

/* HERO */
.hero {
  background-color: #eef0f2;
  height: 85vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* border-top: 1px solid #ecebe4; */
  /* border-bottom: 1px solid #c7c7c7; */
}

.hero__content {
  padding: 0 6.4rem;
  text-align: center;
}

.content__header {
  font-family: "Lora", serif;
  color: #3d3d3d;
  line-height: 1.4;
  margin-bottom: 7.4rem;

  font-style: italic;
  font-size: 6.2rem;
}

.content__header--emphasise {
  font-style: normal;
}

.hero__img {
  height: 100%;
  background-image: url("../images/photo_2_2025-03-19_12-08-50.jpg");
  background-size: cover;
}

/* SCROLL SECTION */
.scroll {
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
}

.scroll--1 {
  background-color: #daddd8;
  color: #2b2b2b;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

.scroll--2 {
  background-color: #1c1c1c;
  color: #fafaff;
  border-top: 1px solid #fafaff;
  border-bottom: 1px solid #fafaff;
}

.scroll__container {
  display: flex;
  gap: var(--scroll-gap);
  white-space: nowrap;
  overflow: hidden;
  width: 100vw; /* Ensure it fits the screen */
}

.scroll__item {
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  display: inline-block;
  animation: scroll__container var(--scroll-speed) linear infinite;
}

@keyframes scroll__container {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* INCLUDES SECTION */
.includes {
  background-color: #ecebe4;
}

.includes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.includes__header-wrapper {
  width: 50%;
  text-align: center;
  margin-bottom: 9.6rem;
}

.includes__carousel {
  position: relative;
  width: 75%;
  height: 60rem;

  display: grid;
  grid-template-columns: 3fr 3.5fr 3fr;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;

  margin-bottom: 5.2rem;
}

.include {
  width: 100%;
  height: 100%;

  background-color: #daddd8;
  border-radius: 0.5rem;
  padding: 4.8rem 3.2rem 6.4rem;

  display: flex;
  flex-direction: column;

  background-size: cover;
  background-position: center;

  transition: filter 1.2s;
}

.include__number {
  font-family: "Lora";
  letter-spacing: 0.2rem;
  font-size: 5.2rem;
  color: #d2d2d2;
}

.include__content {
  margin-top: auto;
}

.subheading--include {
  color: #e3e3e3;
}

.include__text {
  color: #f9f9f9;
  line-height: 1.4;
  font-size: 3.2rem;
}

.include--1 {
  grid-column: 1;
  grid-row: 1;
}

.include--2 {
  grid-column: 2;
  grid-row: 1;

  transition: filter 1.2s, transform 2s cubic-bezier(0.25, 1, 0.5, 1);
}

.include--3 {
  grid-column: 3;
  grid-row: 1;
}

.include--1,
.include--3 {
  transform: scale(0.925);
  filter: grayscale(0.8);
}

.include--1 .include__number,
.include--3 .include__number {
  font-size: 4.4rem;
}

.include--1 .include__text,
.include--3 .include__text {
  font-size: 2.4rem;
}

.include--1 .subheading--include,
.include--3 .subheading--include {
  font-size: 1.4rem;
}

.include--first {
  background-image: linear-gradient(
      to top left,
      rgba(13, 13, 13, 0.4),
      rgba(13, 13, 13, 0.4)
    ),
    url("../content/img/includes/plan.jpg");
}

.include--second {
  background-image: linear-gradient(
      to top left,
      rgba(13, 13, 13, 0.4),
      rgba(13, 13, 13, 0.4)
    ),
    url("../content/img/includes/zoom.jpg");
}

.include--third {
  background-image: linear-gradient(
      to top left,
      rgba(13, 13, 13, 0.4),
      rgba(13, 13, 13, 0.4)
    ),
    url("../content/img/includes/prize.jpg");
}

.include--fourth {
  background-image: linear-gradient(
      to top left,
      rgba(13, 13, 13, 0.4),
      rgba(13, 13, 13, 0.4)
    ),
    url("../content/img/includes/feedback.jpg");
}

.include--fifth {
  background-image: linear-gradient(
      to top left,
      rgba(13, 13, 13, 0.4),
      rgba(13, 13, 13, 0.4)
    ),
    url("../content/img/includes/bonus.jpg");
}

.includes__btn {
  position: absolute;
  text-decoration: none;
  border: none;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  background-color: rgba(212, 212, 205, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.includes__btn--left {
  left: 0;
  top: 50%;
  transform: translate(-150%, -50%);
}

.includes__btn--right {
  right: 0;
  top: 50%;
  transform: translate(150%, -50%);
}

.includes__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #777777;
}

/* RESULTS */
.results {
  border-top: 1px solid #daddd8;
  background-color: #fafaff;
  overflow: hidden;
}

.container--results {
  position: relative;
}

.container--results .subheading {
  align-self: center;
  margin-bottom: 6.4rem;
}

.results__content--wrapper {
  position: relative;
  height: 35rem;
  /* background-color: red; */
}

.results__content {
  position: absolute;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;

  padding: 0 25rem;
  text-align: center;

  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.results__text {
  font-family: "Lora", serif;
  color: #3d3d3d;
  font-size: 5.2rem;
  line-height: 1.4;
  margin-bottom: 6.4rem;
}

.results__text--italic {
  font-style: italic;
}

.results__text--quote {
  font-size: 6.2rem;
  font-style: italic;
  transform: translateY(-5%);
}

.results__count {
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  color: #646464;
}

.results__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.results__btn--left {
  left: 0;
}

.results__btn--right {
  right: 0;
}

.results__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #3d3d3d;
}

/* FOOTER */
.footer {
  height: 70vh;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6.4rem 3.2rem 3.2rem;

  background-color: #eef0f2;
}

.footer__text-wrapper {
  padding-right: 6.4rem;
}

.footer__text {
  font-family: "Work Sans", serif;
  font-size: 2.4rem;
  line-height: 1.4;
  margin-top: 4.8rem;
  color: #3d3d3d;
  margin-bottom: 5.2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.social__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.footer__name {
  font-family: "Lora", serif;
  font-weight: inherit;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 8.6rem;
  color: #1c1c1c;

  margin-top: auto;
}

/* FOOTER CTA */
.footer__cta {
}

.footer__img {
  width: 100%;
  height: 100%;
  background-image: url("../images/photo_1_2025-03-19_12-08-50.jpg");
  background-size: cover;
  background-position: right top;
}

/* HELPER CLASSES */
.blur {
  filter: blur(3px);
}

.hidden {
  opacity: 0;
  filter: blur(8px);
}

.include--hidden {
  display: none;
  filter: blur(12px) grayscale(0.8);
}
